body {
	width: 100vw;
	height: 100vh;
	margin: 0;
	padding: 0;
	background-color: #58181f;
	text-align: center;
	color: rgb(224, 195, 195);
	font-family: 'Playfair Display SC', serif;
	overflow-x: hidden;
}
p {
	margin: 0;
	margin-bottom: 2rem;
}

.container {
	min-height: 100vh;

	display: flex;
	flex-direction: column;
	overflow-y: auto;
}

.content-container {
	position: relative;
	padding: 1rem 0;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	background-color: rgba(255, 255, 255, 0.105);
}

.image-wrapper {
	margin: 0 1.5rem;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.token-wrapper {
	position: relative;
	width: 11rem;
	height: 11rem;
	margin: 1rem 1.5rem;
	border-radius: 8px;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	transition: transform 0.6s ease;
}
.token-wrapper:hover {
	transform: scale(1.1);
}

.token-image {
	width: 100%;
	border-radius: 8px;
	cursor: pointer;
	transition: transform 0.6s ease;
}

.fa-solid {
	height: 3rem;
	width: 3rem;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #dac6c69e;
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto;
	opacity: 0.7;
	color: black;
}

.fa-arrow-left-long {
	left: 0.8rem;
}
.fa-arrow-right-long {
	right: 0.8rem;
}

.title {
	margin-bottom: 0.5rem;
	font-size: 1.5rem;
	font-weight: 900;
	font-style: italic;
}

.token-container {
	width: 80%;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
}

footer {
	position: sticky;
	top: 100%;
	margin: 2rem auto 0;
	width: 100%;
	padding: 0.7rem 0;
	color: rgba(224, 195, 195, 0.39);
	background-color: rgba(0, 0, 0, 0.103);
}
